.row
  .span12
    %h2
      league name
    = simple_form_for(@fantasy_league, :html => { :method => :put, class: 'form-horizontal league-settings' }) do |f|
      = f.error_notification
      .form-inputs
        = f.input :name, :required => true
        %p{style: "margin-left:40px;"}
          = "Hardcore settings? #{@fantasy_league.hardcore}"

      %h3
        scoring settings
        = f.fields_for :scorings do |score|
          .form-inputs.row
            = score.input :interval, wrapper: :add_on, prepend: "for every", label: "<b>#{score.object.category} :: #{score.object.sub_category}</b>",wrapper_html: { :class => 'span4' },input_html: { class: 'span1' }
            = score.input :points, wrapper: :add_on,label: "recieve", wrapper_html: { class: 'span3', :style => 'width:240px;' }, :input_html => { class: 'span1' }, append: "points"

      .form-actions
        = f.button :submit, "update", class: 'btn btn-large btn-primary'
        or
        = link_to "cancel", :back, class: ''

