.row
  .span8
    %h2
      = @fantasy_league.name
      %small
        pass-code:
        = @fantasy_league.code
    - if @league_owner
      %h6
        = link_to "edit league settings", edit_fantasy_league_path(@fantasy_league)
    - else
      %h6
        = link_to "view league settings", fantasy_league_scoring_settings_path(@fantasy_league)
  .span4
    = link_to "edit my team", fantasy_league_fantasy_team_path(@fantasy_league, @team), class: 'btn btn-primary btn-large' if @team.active?
    = link_to "back to leagues", root_path, class: 'btn btn-large'
  %br


.row
  .span8
    %ul.nav.nav-tabs
      - @fantasy_league.weeks.asc(:week_number).each do |week|
        %li{:class => week_tab(week)}
          = link_to "week #{week.week_number}", fantasy_league_path(week_number: week.week_number)
    %table.table
      %thead
        %tr
          %th
            Team
          - @week.teams.first.players.each do |f_player|
            %th
              = f_player.position.gsub('_','/').upcase
          %th
            Total
      %tbody
        - @week.teams_by_standing.each do |team|
          %tr
            %td
              = link_to team_name(team), fantasy_league_fantasy_team_path(@fantasy_league, team)
              = team_rank(team)
            %td
              = team.players.qb.total
            %td
              = team.players.rb.total

            - if @fantasy_league.hardcore
              %td
                = team.players.te.total
              - team.players.wr.each do |f_player|
                %td
                  = f_player.total

            - else
              - team.players.wr_te.each do |f_player|
                %td
                  = f_player.total
            %td
              = team.get_weeks_total_points

    %table.table
      %thead
        %tr
          %th
            invite league players

      %tbody
        %tr
          %td(colspan=2)
            = form_tag( fantasy_league_new_invitation_path(@fantasy_league.id), {:class => "form-search"} ) do
              / = f.error_notification
              = email_field_tag :email, nil, placeholder: "email", class: 'input-medium'
              = button_tag "invite", class: 'btn btn-success'

        - @pending_inv.each do |inv|
          %tr
            %td
              = show_participant_invitation_actions(inv)

  .span4.offset0
    %h2 message board
    = form_for(@new_post, url: fantasy_league_add_message_board_post_path(@fantasy_league), :html => { class: 'form-inline' }) do |f|
      = f.text_field :text, label: false, placeholder: "what do u have to say..."
      = f.submit "post", class: 'btn btn-info'
    %div{id: 'posts'}
      = render @posts
      / - @posts.each do |post|

    .load_more
      = link_to_next_page @posts, 'load more posts', :remote => true
    /= paginate @posts




= content_for :debug do
  = "league: #{@fantasy_league.id}"
  %br
  = "league_owner: #{@league_owner}"
  %br
  = "Week: #{@week.id}"
  %br
  = "Teams Count: #{@week.teams.count}"
  %br
  = "Team: #{@team.id}"
  %br
  = "current_user_participant: #{@current_user_participant.to_json}"
  %br
  = "league points: #{@total_points}"