
.row 
  .span11
    - @fantasy_leagues.in_groups_of(2, false).each do |row|
      - row.each do |league|
        = link_to(content_tag(:div, (content_tag(:h2, league.name) + content_tag(:h5, "Players: #{league.participants.count}")), class: "fantasy-league-info"), fantasy_league_path(league), class: "btn btn-large btn-block btn-fantasy-team span5")
    = link_to(content_tag(:h3, "Create Fantasy League"), new_fantasy_league_path, class: "btn btn-primary btn-large btn-block btn-create-fantasy-league span5" )
      


= content_for :debug do
  = "leagues: #{@fantasy_leagues.collect(&:name)}"
  %br