%h2 sign up
%p Sign up now and create a new league or join your friends in an existing one (no friends? Play against yourself).
= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), html: { class: 'form-horizontal no-label-form'}) do |f|
  = f.error_notification
  .form-inputs
    = f.input :email, :required => true, label: false, placeholder: "Email"
    = f.input :password, :required => true, label: false, placeholder: "Password"
    = f.input :password_confirmation, :required => true, label: false, placeholder: "Password Confirmation"
    = f.button :submit, "sign up", class: 'btn btn-large btn-primary'
= render "devise/shared/links"