
%fieldset.inputs
  %ol
    %li.string.input.stringish
      %label.label
      = f.input :name
    %li.string.input.stringish
      %label.label
      = f.input :team
    %li.string.input.stringish
      %label.label
      = f.input :position, as: :select, collection: %w[qb rb wr te]
    %li.string.input.stringish
      %label.label
      = f.input :opponent
    %li.string.input.stringish
      %label.label
      = f.input :sports_playing_time, as: :select, collection: SportsPlayingTime.all.collect{ |t| [t.playing_time.strftime('%D %r'), t.id]}
    %li.string.input.stringish
      %label.label
      = f.input :home, as: :boolean


= f.fields_for :stats do |f_stat|
  %fieldset.inputs
    %ol
      %li.string.input.stringish
        %label.label
          = f_stat.object.category.capitalize
          = f_stat.object.sub_category
      %li.string.input.stringish
        %label.label
        = f_stat.input :value
