
%fieldset.inputs
  %ol
    %li.string.input.stringish
      %label.label
      = f.input :name
    %li.string.input.stringish
      %label.label
      = f.input :team
    %li.string.input.stringish
      %label.label
      = f.input :position
    %li.string.input.stringish
      %label.label
      = f.input :number
    %li.string.input.stringish
      %label.label
      = f.input :opponent
    %li.string.input.stringish
      %label.label
      = f.input :status


= f.fields_for :stats do |f_stat|
  %fieldset.inputs
    %ol
      %li.string.input.stringish
        %label.label
          = f_stat.object.category.capitalize
          = f_stat.object.sub_category
      %li.string.input.stringish
        %label.label
        = f_stat.input :value



  / .form-inputs
  /   = f.input :week_number, :required => true
  /   = f.input :status, :required => true
  /   = f.button :submit, "Update", class: 'btn btn-large btn-primary'
  /   = link_to "Cancel", :back, class: 'btn btn-large'