= simple_form_for(@sports_player, :url => admin_sports_league_sports_week_sports_player_path(@sports_league, @sports_week, @sports_player), :html => { :method => :put, class: 'formtastic'}) do |f|
  = f.error_notification

  = render :partial => 'form', locals: {f: f}

  %fieldset.actions
  %ol
    %li.action.input_action
      = f.button :submit, "Update player", class: 'btn btn-large btn-primary'
    %li.cancel
      = link_to "Cancel", :back, class: 'btn btn-large'