.row
  .span7.offset1
    %h3
      Available Players
    %table.table.table-hover
      %thead
        %tr
          %th
            Player
          %th
            Position
          %th
            Team
          %th
            Opponent
          %th
            Actions
      %tbody
        - @available_players.each do |player|
          %tr
            %td
              = player.name
            %td
              = player.position
            %td
              = player.team
            %td
              = player.opponent
            %td
              = (player.eligible? ? link_to("Add", fantasy_league_switch_player_path(@fantasy_league, player, @current_f_player), class: 'btn btn-small') : nil)



= content_for :debug do
  %br
  = @used_players
  %br
  = @all_players
  %br
  = @available_players