.navbar.navbar-inverse.navbar-fixed-top
  .navbar-inner
    .container-fluid
      %a.btn.btn-navbar{"data-target" => ".nav-collapse", "data-toggle" => "collapse"}
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to "Old Town Sports", root_path, class: "brand"
      .nav-collapse.collapse
        %ul.nav
          %li{class: (fantasy_current_page?(dashboard_path, root_path) ? "active" : "")}
            = league_tab
          %li{class: (current_page?(contact_path) ? "active" : "")}
            = link_to "Contact", contact_path
          %li{class: (current_page?(faq_path) ? "active" : "")}
            = link_to "Faq", faq_path
        %p.navbar-text.pull-right
          Logged in as 
          = link_to current_user.email, edit_user_registration_path, class: 'navbar-link'
          \/
          &nbsp;
          = link_to "sign out", destroy_user_session_path, method: :delete, class: 'navbar-link'

