.row
  .span12
    .row
      .span7
        %h2
          = team_name(@team, true)
      .span5
        - if @is_owner
          = form_for(@team.participant, url: fantasy_league_change_name_path(params[:fantasy_league_id], @team.participant), :html => { class: 'form-inline pull-right' }) do |f|
            = f.text_field :team_name, placeholder: "change team name to"
            = f.submit "change team name", class: 'btn btn-info'
    %div
      %table.table.table-bordered.table-hover.table-team
        %thead
          %tr
            %th(colspan=4)
            %th(colspan=3){style: "text-align: center;"}
              Passing
            %th(colspan=2){style: "text-align: center;"}
              Rushing
            %th(colspan=3){style: "text-align: center;"}
              Receiving
            %th(colspan=2)
          %tr
            - %w[Position Player Status Opponent Yards TDs INTs Yards TDs Receptions Yards TDs Fumbles Total\ Points].each do |th|
              %th
                = th
        %tbody
          - @team.players.each do |f_player|
            %tr
              %td
                = f_player.position.upcase.gsub('_', ' ')
              %td
                = player_action(f_player)
              %td
                = f_player.player.status if f_player.has_player?
              %td
                = playing_team(f_player) if f_player.has_player?
              - [["passing", %w[yards tds ints]], ["rushing", %w[yards tds]], ["receiving", %w[receptions yards tds]], ["fumbles", [""]] ].each do |cat|
                - cat[1].each do |sub_cat|
                  %td
                    = player_stat(f_player.player.stats.find_by_stat(cat[0], sub_cat)) if f_player.has_player?
              %td
                = f_player.total if f_player.has_player?
    = link_to "back to league", fantasy_league_path(params[:fantasy_league_id]), class: 'btn btn-large'

= content_for :debug do
  = "Team: #{@team.id}"
  %br
  = "is_owner: #{@is_owner}"

