.row
  .span12
    %h2
      = "Team #{@team.participant.user.email_prefix}"
    .well
      %table.table.table-bordered.table-team
        %thead
          %tr
            %th(colspan=3)
            %th(colspan=3){style: "text-align: center;"}
              Passing
            %th(colspan=2){style: "text-align: center;"}
              Rushing
            %th(colspan=3){style: "text-align: center;"}
              Receiving
            %th(colspan=2)
          %tr
            - %w[Position Player Status Opponent Yards TDs INTs Yards TDs Receptions Yards TDs Fumbles Total\ Points].each do |th|
              %th
                = th
        %tbody
          - @team.players.each do |f_player|
            %tr
              %td
                = f_player.position.upcase
              %td
                = player_action(f_player)
              %td
                = f_player.player.status if f_player.has_player?
              %td
                = f_player.player.opponent if f_player.has_player?
              %td
                = player_stat(f_player.player.stats.find_by_stat('passing', 'yards')) if f_player.has_player? 
              %td
                = player_stat(f_player.player.stats.find_by_stat('passing', 'tds')) if f_player.has_player? 
              %td
                = player_stat(f_player.player.stats.find_by_stat('passing', 'ints')) if f_player.has_player? 
              %td
                = player_stat(f_player.player.stats.find_by_stat('rushing', 'yards')) if f_player.has_player? 
              %td
                = player_stat(f_player.player.stats.find_by_stat('rushing', 'tds')) if f_player.has_player? 
              %td
                = player_stat(f_player.player.stats.find_by_stat('receiving', 'receptions')) if f_player.has_player? 
              %td
                = player_stat(f_player.player.stats.find_by_stat('receiving', 'yards')) if f_player.has_player? 
              %td
                = player_stat(f_player.player.stats.find_by_stat('receiving', 'tds')) if f_player.has_player?
              %td
                = player_stat(f_player.player.stats.find_by_stat('fumbles', "")) if f_player.has_player? 
              %td
    = link_to "Back to League", fantasy_league_path(params[:fantasy_league_id]), class: 'btn btn-large'

= content_for :debug do
  = "Team: #{@team.id}"
  %br
  = "is_owner: #{@is_owner}"

