= simple_form_for(@fantasy_week, :url => admin_fantasy_league_fantasy_week_path(@fantasy_league, @fantasy_week), :html => { :method => :put, class: 'formtastic'}) do |f|
  = f.error_notification
  %fieldset.inputs
    %ol
      %li.string.input.stringish
        %label.label
        = f.input :week_number, :required => true
      %li.string.input.stringish
        %label.label
        = f.input :status, :required => true
  %fieldset.actions
    %ol
      %li.action.input_action
        = f.button :submit, "Update", class: 'btn btn-large btn-primary'
      %li.cancel
        = link_to "Cancel", :back, class: 'btn btn-large'

  / .form-inputs
  /   = f.input :week_number, :required => true
  /   = f.input :status, :required => true
  /   = f.button :submit, "Update", class: 'btn btn-large btn-primary'
  /   = link_to "Cancel", :back, class: 'btn btn-large'